# ============================================
# 🔐 Expo (configuración pública del cliente)
# ============================================
EXPO_PUBLIC_API_BASE_KEY=SANTAANA_API_BASE_KEY        # Nombre base para requests del cliente
EXPO_PUBLIC_ACCESS_KEY=SANTAANA_ACCESS_KEY            # Nombre lógico para access token
EXPO_PUBLIC_REFRESH_KEY=SANTAANA_REFRESH_KEY          # Nombre lógico para refresh token
EXPO_PUBLIC_ACCESS_SECRET=7qN11exampleSecret          # Secreto para validar access tokens
EXPO_PUBLIC_REFRESH_SECRET=KD4TexampleSecret          # Secreto para validar refresh tokens
EXPO_PUBLIC_QR_MAGIC_CODE=3rb9MxexampleCode           # Código mágico para login por QR
EXPO_PUBLIC_BASE_URL=https://santaana.example.com/api # Endpoint principal del backend
